* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #dfdfdf;
  font-size: 20px;
}

/* MENU */

.menu {
  display: flex;
  position: fixed;
  top: 40px;
  align-self: center;
  align-items: center;
  padding: 0px 0px;
  background: #f5f5f51b;
  backdrop-filter: blur(20px);
  border-radius: 50px;
  border: 2px solid #f5f5f580;
  box-shadow: 0 0px 30px #00000031;
  width: 93%;
  z-index: 10;
  justify-content: space-between;
}

.logo {
  height: 100%;
  max-height: 55px;
  object-fit: contain;
  display: block;
  margin: 0;
}

.menu-list {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.menu-list li {
  margin-right: 30px;
}

.menu-list li a {
  text-decoration: none;
  color: #2a2a2b;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-button {
  display: inline-block;
  padding: 2px 15px;
  background: #f5f5f550;
  backdrop-filter: blur(30px);
  border-radius: 50px;
  border: 2px solid #f5f5f522;
  box-shadow: 0 0px 8px #0000001a, inset 1px 3px 4px #ffffff80;
  font-size: 20px;
  font-weight: 40;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-button:hover {
  background-color: #f5f5f53b;
  color: #791717;
  box-shadow: 0 0px 12px #0000001a, inset 1px 3px 10px #ffffff80;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding: 0px 0px;
    top: 15px;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-list {
    gap: 12px;
    margin-left: auto;
    display: flex;
  }

  .menu-list li {
    margin-right: 5px;
  }

  .menu-list li a {
    font-size: 15px;
    padding: 4px 12px;
    text-decoration: none;
    color: #2a2a2b;
    background: none !important;
    border: none !important;
    transition: color 0.3s ease;
  }

  .logo {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    max-height: 40px;
    object-fit: contain;
    margin-right: 90p;
  }
  .logo {
    content: url("logo_mobile.png");
  }
}

/* FOOTER */

.footer {
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
}

.footer .line,
.contact-line {
  width: 93%;
  height: 2px;
  background-color: #f5f5f580;
  border-radius: 10px;
  margin: 0 auto 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer .footer-text {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: 0 auto;
  font-size: 16px;
  color: #2a2a2b;
  font-weight: 400;
}

@media (max-width: 768px) {
  .footer .footer-text {
    flex-direction: row;
    font-size: 12px;
    text-align: center;
  }

  .footer .line,
  .contact-line {
    width: 93%;
  }
}

/* HLAVNI */

.main-image {
  background: url("background.png") no-repeat center center/cover;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #f5f5f5;
  font-size: 20px;
  padding: 40px;
}

.mainpage {
  position: relative;
  top: -100px;
  left: 30px;
  text-align: left;
}

h2 {
  font-size: 70px;
  font-weight: 100;
  margin-bottom: 0px;
  color: #791717;
}

h3 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2a2a2b;
}

.cuto {
  display: inline-block;
  padding: 15px 45px;
  background: #bfbfbf;
  backdrop-filter: blur(40px);
  border-radius: 50px;
  border: 2px solid #f5f5f580;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 50;
  color: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cuto a {
  text-decoration: none;
  color: #2a2a2b;
}

.cuto:hover {
  background: #f5f5f509;
  border: 2px solid #791717;
  box-shadow: 0 2px 5px #0000001a, inset 0 2px 10px #ffffff;
  transform: scale(1.05);
}

.stats, .stats-about {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: 40px auto;
  background: #f5f5f51b;
  backdrop-filter: blur(20px);
  border-radius: 46px;
  border: 2px solid #f5f5f580;
  box-shadow: 0 0px 30px #00000031;
  padding: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.stat-number {
  color: #791717;
  font-size: 60px;
  font-weight: 900;
  display: block;
}

.stat-text {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.map h4 {
  font-size: 50px;
  font-weight: 100;
  color: #2a2a2b;
}

.map-image {
  position: relative;
  width: 100%;
  height: 110vh;
  background-image: url("map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .main-image {
    background: url("background_mobile.png") no-repeat center
      center/cover;
    background-size: 110% auto;
    background-position: center top;
    min-height: 90vh;
  }

  .mainpage {
    position: relative;
    top: 100px;
    left: 0;
    text-align: center;
    margin: 0 0px;
  }

  h2 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: -40%;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .cuto {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin: 5px auto 5px auto;
    background: #dfdfdf66;
    backdrop-filter: blur(40px);
    border: 2px solid #791717;
  }

  .stats {
    background: none;
    backdrop-filter: none;
    border: none;
    box-shadow: none;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -210px;
  }

  .stat {
    width: 45%;
    margin: 10px 0;
  }

  .stat-number {
    color: #791717;
    font-size: 50px;
    font-weight: 900;
    display: block;
  }

  .stat-text {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin-top: -5px;
  }

  .map h4 {
    font-size: 30px;
  }

  .map-image {
    background: url("map_mobile.png") no-repeat center center/cover;
    width: 90%;
    height: 30vh;
    background-size: cover;
    margin-bottom: 30px;
    margin-bottom: -20px;
  }
}

/* KONTAKTY */

.contact-information {
  max-width: 730px;
  margin: 140px auto 30px auto;
  padding: 40px;
  background: #f5f5f51a;
  border: 2px solid #f5f5f533;
  border-radius: 50px;
  box-shadow: 0 6px 20px #00000033;
  color: #2a2a2b;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.contact-information h4 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-information h5 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-information p {
  font-size: 20px;
  margin: 5px 0;
  max-width: 100%;
}

.contact-information a {
  color: #791717;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-information a:hover {
  color: #2a2a2b;
}

.contact-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 730px;
  padding: 60px;
  color: #2a2a2b;
  text-align: center;
}

.contact-section h4 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 100;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px;
  background: #ffffff1a;
  border: 2px solid #f5f5f533;
  border-radius: 50px;
  box-shadow: 0 6px 20px #00000033;
}

.contact-form input,
.contact-form button {
  padding: 15px;
  font-size: 20px;
  border: 2px solid #f5f5f580;
  border-radius: 50px;
  background: #f5f5f51b;
  color: #2a2a2b;
  transition: 0.3s ease;
  box-shadow: 0 2px 12px #0000001a;
  width: 100%;
}

.contact-form button {
  font-weight: 600;
  background: #bfbfbf;
  cursor: pointer;
}

.contact-form button:hover {
  background: #f5f5f509;
  border-color: #791717;
  box-shadow: 0 6px 16px 2A2A2B, inset 0 2px 10px #ffffff;
  transform: scale(1.05);
}

.contact-form input:focus {
  background: #f5f5f580;
  border-color: #2a2a2b;
  outline: none;
}

.contact-form input:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px 2A2A2B;
}

.input-group input:first-child {
  flex: 1;
  margin-right: 20px;
}

.input-group input {
  width: 48%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .contact-information {
    margin: 120px 20px 20px 20px;
    padding: 20px;
    border-radius: 30px;
    gap: 10px;
  }

  .contact-information h4 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .contact-information h5 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .contact-information p {
    font-size: 16px;
    margin-top: 0px;
  }
  .contact-information a {
    font-size: 16px;
  }

  .contact-section {
    padding: 30px 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .contact-section h4 {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .contact-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-form {
    padding: 25px 20px;

    border-radius: 30px;
    gap: 25px;
  }

  .contact-form input,
  .contact-form button {
    font-size: 18px;
    padding: 12px;
    border-radius: 30px;
  }

  .input-group {
    flex-direction: column;
    gap: 20px;
  }

  .input-group input {
    width: 100%;
    margin-right: 0;
  }
}

/* Ðž NAS */

#about-background {
  background: url("background2.png") center/cover no-repeat;
  width: 100%;
  height: 150vh;
  margin-top: -15vh;
  background-attachment: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.about-title {
  font-size: 80px;
  color: #791717;
  font-weight: 700;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: -200px;
  width: 100%;
}

.about-text {
  font-size: 30px;
  color: #333;
  line-height: 1.6;
  margin: 300px auto 30px auto;
  max-width: 1000px;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
}

.team-section {
  background-color: #dfdfdf;
  padding: 80px 20px;
  text-align: center;
}

.team-section h2 {
  font-size: 70px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.team-member {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 100%;
  display: block;
  border-radius: 16px;
}

.team-info {
  padding: 20px;
  text-align: left;
}

.team-info strong {
  display: block;
  font-size: 20px;
  color: #2a2a2b;
  margin-bottom: 6px;
}

.team-info p {
  font-size: 15px;
  color: #bfbfbf;
  margin: 0;
}

@media (max-width: 768px) {
  #about-background {
    height: 80vh;
  }

  .about-title {
    font-size: 35px;
    bottom: -100px;
    margin-bottom: 10px;
  }

  .about-text {
    font-size: 16px;
    margin: 90px auto -10px auto;
    padding: 20px;
  }

  .about-text p {
    margin-bottom: 10px;
  }

  .team-section {
    padding: 30px 20px;
  }

  .stats-about {
    display: none;
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 10px;
  }

  .team-member {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }

  .team-member:hover {
    transform: translateY(-5px);
  }

  .team-member img {
    width: 100%;
    display: block;
    border-radius: 12px;
  }

  .team-section h2 {
    font-size: 35px;
    font-weight: 600;

    margin-top: 0px;
  }

  .team-info {
    padding: 8px 12px;
    text-align: left;
  }

  .team-info strong {
    display: block;
    font-size: 15px;
    color: #2a2a2b;
    margin-bottom: 3px;
  }

  .team-info p {
    font-size: 13px;
    color: #bfbfbf;
    margin: 0;
  }
}

/* PROJEKTY */

#projects-background {
  background: url("background3.png") center/cover no-repeat;
  width: 100%;
  height: 130vh;
  margin-top: -3vh;
  background-attachment: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.projects-section {
  background-color: #dfdfdf;
  padding: 80px 20px;
  text-align: center;
}

.projects-title {
  font-size: 70px;
  color: #333;
  margin-bottom: 60px;
  font-weight: 500;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.project-tile {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: translateY(-5px);
}
.project-tile img {
  width: 100%;
  display: block;
  border-radius: 16px;
}

.project-info {
  padding: 20px;
  text-align: left;
}

.project-info strong {
  display: block;
  font-size: 20px;
  color: #2a2a2b;
  margin-bottom: 6px;
}

.project-info p {
  font-size: 15px;
  color: #bfbfbf;
  margin: 0;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  #projects-background {
    background: url("background_mobile_prj.png") no-repeat center
      center/contain;
    background-size: 100% auto;
    background-position: center top;
    height: 60vh;
    margin-bottom: -5vh;
  }

  .projects-title {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .projects-section {
    padding: 30px 20px;
  }

  .projects-grid {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .project-tile {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }

  .project-tile:hover {
    transform: translateY(-5px);
  }

  .project-tile img {
    width: 100%;
    display: block;
    border-radius: 12px;
  }

  .project-info {
    padding: 8px 12px;
    text-align: left;
  }

  .project-info strong {
    display: block;
    font-size: 15px;
    color: #2a2a2b;
    margin-bottom: 3px;
  }

  .projects-info p {
    font-size: 10px;
    color: #bfbfbf;
    margin: 0;
  }
}

/* PROJEKT Riverside */

.title-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.title-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.title-image img {
  width: 100%;
  height: 110%;
  object-fit: cover;
  display: block;
}

.title-text {
  position: absolute;
  top: 15%;
  left: 5%;
  text-align: left;
  z-index: 2;
  max-width: 650px;
}

.title-text h2 {
  font-size: 50px;
  font-weight: 700;
  color: #dfdfdf;
  margin-bottom: 10px;
}

.title-text p {
  font-size: 20px;
  color: #dfdfdf;
  margin-bottom: 24px;
}

.scroll-button {
  display: inline-block;
  padding: 5px 30px;

  background: #bfbfbf50;
  backdrop-filter: blur(40px);
  border-radius: 50px;
  border: 2px solid #f5f5f550;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  color: #dfdfdf;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-button:hover {
  background: #f5f5f509;
  border: 2px solid #f5f5f5;
  color: #2a2a2b;
  box-shadow: 0 2px 5px #0000001a, inset 0 0px 50px #ffffff;
  transform: scale(1.05);
}

.gallery-section {
  padding: 60px 20px;
  margin-top: 80px;
  background-color: #dfdfdf;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 40px;
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.gallery-grid img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}

.project-details {
  max-width: 800px;
  margin: 80px auto 60px auto;
  padding: 0 20px;
  font-size: 20px;
  color: #2a2a2b;
  text-align: left;
}

.project-details {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  padding: 0 20px;
}

.project-info-box {
  max-width: 730px;
  background: #f5f5f51a;
  border: 2px solid #f5f5f533;
  border-radius: 50px;
  box-shadow: 0 6px 20px #00000033;
  padding: 40px;
  color: #2a2a2b;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-info-box h4 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

.project-info-box p {
  font-size: 20px;
  margin: 4px 0;
  text-align: left;
  line-height: 1;
}

.see-other-button {
  display: inline-block;
  padding: 5px 30px;
  margin-top: 20px;
  width: fit-content;
  background: #bfbfbf50;
  backdrop-filter: blur(40px);
  border-radius: 50px;
  border: 2px solid #791717;
  box-shadow: 0 2px 5px #0000001a;
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  color: #2a2a2b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.see-other-button:hover {
  background: #f5f5f509;
  border: 2px solid #f5f5f5;
  color: #2a2a2b;
  box-shadow: 0 2px 5px #0000001a, inset 0 0px 50px #dfdfdf;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .title-image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .title-text {
    top: 25%;
    left: 4%;
    max-width: 100%;
    padding-right: 10px;
  }

  .title-text h2 {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .title-text p {
    font-size: 13px;
    margin-bottom: 16px;
  }

  .scroll-button {
    font-size: 13px;
    padding: 5px 20px;
  }

  .gallery-section {
    padding: 40px 15px;
    margin-top: 40px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 93;
  }

  .gallery-grid img {
    max-width: 94%;
    height: auto;
    border-radius: 18px;
  }

  .project-details {
    flex-direction: column;
    margin: 40px auto;
    padding: 0 15px;
  }

  .project-info-box {
    padding: 25px;
    border-radius: 30px;
    gap: 10px;
    margin-top: -40px;
  }

  .project-info-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .project-info-box p {
    font-size: 14px;
    line-height: 1.3;
  }

  .see-other-button {
    font-size: 13px;
    padding: 5px 20px;
    margin-top: 15px;
  }
}
